* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

/* .App{
  background-image: url('./cardImages/iyengarLogo.png');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: left;
  background-blend-mode: luminosity;

} */

.home,
.members,
.Members,
.team,
.reports,
.users,
.Users {
  height: 100vh;
  align-items: left;
  justify-content: left;
  margin-left: 250px;
  margin-right: 250px;
  padding: 10px 10px;
  box-sizing: border-box;
}

.sidebar{
  height: 100%;
}


.imageContainer {
  border-radius: 2%;
}

.addNewUser {
  justify-content: space-evenly;
  box-sizing: border-box;
  border:skyblue solid 1px;
}